body{
    color: blue;
    /* background: rgb(127,132,0); */
    /* background: #7f8400; */
    font-style: italic;
    font-size: 30;
    /* background: lightgray; */
    /* background-image: url("img/cancun.jpg"); */
}